@model GlobeAuction.Models.BidderViewModel

@{
    ViewBag.Title = "PayPal Complete";
}

<h2>PayPal Complete</h2>

<div class="alert-success alert">
    <b>@Model.FirstName @Model.LastName</b>, thank you for registering for the auction and purchasing your tickets!  We look forward to seeing you there!

    Currently your paddle number is:
    <h3>@Model.BidderNumber</h3>  
    
    If you are at the auction you can show this screen to a volunteer to get your paddle.  Otherwise, you will receive your paddle at the auction event.
</div>

<p>
    @Html.ActionLink("Register Another Guest", "Register")
</p>
