@{
    ViewBag.Title = "Admin Functions";
}

<h2>Admin Functions</h2>

<ul>
    <li>@Html.ActionLink("Store Items", "Index", "StoreItems")</li>
    <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
    <li>@Html.ActionLink("Logs", "Index", "LogFiles")</li>
</ul>