
@{
    ViewBag.Title = "FAQs";
}

<div class="container">
    <h2>FAQs</h2>

    <h3>POSTPONEMENT & BACKUP PLAN:</h3>

    <ol>
        <li>
            <b>Is the Auction being postponed?</b>
            <p>Yes, the auction has been postponed to May 16th at 6:30pm.</p>
        </li>

        <li>
            <b>Will the Auction be at the same location?</b>
            <p>
                Yes, the Auction will still take place at Spring Hall (7130 Buford Hwy NE, Suite A-100, Atlanta, GA 30340)
            </p>
        </li>

        <li>
            <b>What will happen if the Auction cannot happen on May 16th?</b>
            <p>
                Safety is our priority. This is an important event for GLOBE that is the most fun when we are all together; therefore, we are trying to remain optimistic that it will take place the old fashioned way! However, if GLOBE is still closed and/or social distancing still recommended on May 16th, the auction will take place both virtually on Facebook Live and via the Auction mobile app/website. The final “go mobile” decision will happen at the beginning of May.
            </p>
        </li>

        <li>
            <b>
                I’ve already purchased a ticket but can no longer make it to the Auction. What should I do?
            </b>
            <p>
                The good news is, you can still participate. No matter where/how the Auction is held, and as long as you have an internet connection, you can participate in the Live and Silent Auctions. Should that not work for you, the following options are available:
                <ol>
                    <li>Donate your ticket and receive a tax deduction for the total ticket value</li>
                    <li>Credit your ticket value towards the Auction raffle items</li>
                    <li>Request a refund</li>
                </ol>
            </p>
        </li>

        <li>
            <b>
                What happens to donations that no longer apply due to the postponement/closures/cancellations stemming from COVID-19?
            </b>
            <p>
                The Auction committee is closely watching applicable events (cancellations, postponements, etc.) and will work with businesses as needed to adjust donations, make accommodations, etc. We ask for patience as we work through these details.
            </p>
        </li>

        <li>
            <b>How will Teacher Treasures work now that the remainder of the academic year is shortened due to COVID-19?</b>
            <p>
                The committee is working with teachers, faculty, and staff who have donated Teacher Treasures to adjust their offerings as best possible.
            </p>
        </li>
    </ol>

    <h3>VOLUNTEERING:</h3>

    <ol>
        <li>
            <b>I signed up to volunteer. Can I still help?</b>
            <p>
                OH, YES! Volunteer opportunities and dates have been adjusted on PTOffice.com. Please make sure that they fit your schedule. **Note** Set-up will now happen on Saturday, March 16, the morning of the event. It will be a very busy day, so we need all the help we can get!
            </p>
        </li>

        <li>
            <b>I was not able to volunteer for the original date/s, but I can now. Can I help?</b>
            <p>
                OH, YES! The more the merrier!! Please visit PTOffice.com to volunteer.
            </p>
        </li>
    </ol>

    <h3>GENERAL INFORMATION:</h3>

    <ol>

        <li>
            <b>
                How does the GLOBE Auction work?
            </b>
            <p>
                The evening starts with a silent auction including donations from businesses in our community, followed by a live auction of collaborative art created by our kids.
            </p>
        </li>

        <li>
            <b>
                Will there be food at the auction?
            </b>
            <p>
                Yes! We will have all types of food (low calorie, high calorie, vegan, gluten-free, chocolate lovers, etc.) donated by restaurants in our community. See our sponsorship page to view the restaurants that have agreed to donate food this year.
            </p>
        </li>

        <li>
            <b>
                Who can attend to the auction?
            </b>
            <p>
                Invite friends, family members, new GLOBE parents, your podiatrist, your barista, etc., as long as they are an adult. This is a no-children event.
            </p>
        </li>

        <li>
            <b>
                What is the attire?
            </b>
            <p>
                Come as you are, but “evening out” attire is typical.
            </p>
        </li>

        <li>
            <b>
                How does bidding work?
            </b>
            <p>
                Like last year, all silent auction bidding takes place through the website/mobile app. Whether you are in the Spring Hall ballroom or on your couch, bidding happens simultaneously and in real time.
            </p>
        </li>

        <li>
            <b>
                Do I have to buy an event ticket to bid on items in the Silent and Live Auctions?
            </b>
            <p>
                Yes. You must have purchased an event ticket to bid during these two events.
            </p>
        </li>

        <li>
            <b>
                Do I have to buy an event ticket to purchase items in the Auction Store?
            </b>
            <p>
                No. Store items are open for purchase by anyone once live. Those include raffle tickets, Fund-a-Project donations, and miscellaneous gift cards.
            </p>
        </li>

        <li>
            <b>
                Do I have to be present at the Auction to win a Raffle item?
            </b>
            <p>
                While the Raffle drawing is held during the Auction, you do not have to be present to win. And, anyone can purchase tickets!
            </p>
        </li>

        <li>
            <b>
                What are Teacher Treasures?
            </b>
            <p>
                Many of our fantastic GLOBE teachers, faculty, and staff generously donate creative excursions or special event time to the Silent Auction. These are hot items that become lasting memories for the winners!
            </p>
        </li>

        <li>
            <b>
                What are GLOBE Perks?
            </b>
            <p>
                GLOBE Perks are Live and Silent Auction items that make your life as a busy parent much easier. They include: reserved front row seats to performances and priority parking options at both campuses.
            </p>
        </li>

        <li>
            <b>
                What is the Carpool Flag?
            </b>
            <p>
                A carpool flag allows the flag bearer to "cut" in line in morning and afternoon carpools. It’s simple to use. Wave it out the window, and you are next to move into the line! Wave bye-bye to carpool line time for all of next year!
            </p>
        </li>

        <li>
            <b>
                What is a Wine Wall?
            </b>
            <p>
                New to this year’s Auction will be a Wine Wall! Easy to play – you donate $20 and pick a mystery bottle of wine to go home with you that evening. Each bottle is worth at least $20, although some are valued at much higher! Win-win!
            </p>
        </li>
    </ol>
</div>