
@{
    ViewBag.Title = "FAQs";
}

<div class="container">
    <h2>FAQs</h2>

    <h3>POSTPONEMENT & BACKUP PLAN:</h3>

    <ol>
        <li>
            <b>Is the Auction being postponed?</b>
            <p>Due to Georgia school closures and the health uncertainties related to public gatherings, the school and Auction committee have decided to move forward with a virtual Auction.</p>
        </li>

        <li>
            <b>What is the new date?</b>
            <p>
                Bidding will <b>begin May 16th at 7:00 PM</b> and <b>end on May 17th at 7:00 PM</b> (24 hours) and take place on our website via desktop computer or mobile device.
            </p>
        </li>

        <li>
            <b>Do I still need to purchase a ticket?</b>
            <p>
                To encourage participation, <b>registration fees are being waived</b>. If you have purchased a ticket/s, please <a href="https://forms.gle/PmJGWdAyeYxnyZ2FA" target="_blank">go to this Google Form</a> and let us know if you would like:
                <ol>
                    <li>the value of your ticket purchase fully refunded</li>
                    <li>
                        the value of your ticket purchase donated to the Auction
                    </li>
                    <li>a portion of your ticket donated to the Auction and a portion refunded</li>
                </ol>
            </p>
        </li>

        <li>
            <b>
                Do I still need register for the Virtual Auction?
            </b>
            <p>
                Yes, anyone who bids must register on the website. We encourage participants to do that early to reduce technical hiccups at the start of the Auction.
            </p>
        </li>

        <li>
            <b>
                Are there restrictions on who can register for the Virtual Auction?
            </b>
            <p>
                No! Anyone can register and bid, so please share the site with friends and family.
            </p>
        </li>

        <li>
            <b>
                What happens to donations that no longer apply due to the postponement/closures/cancellations stemming from COVID-19?
            </b>
            <p>
                The Auction committee has reached out to all participating businesses regarding donation changes as a result of COVID-19. Even still, the future is uncertain. Auction bidders will buy at their own risk, and GLOBE Academy’s Auction takes no responsibility for expired/cancelled/voided purchases as a result of COVID-19.
            </p>
        </li>

        <li>
            <b>How will Teacher Treasures work now that the remainder of the academic year is shortened due to COVID-19?</b>
            <p>
                The committee is working with teachers, faculty, and staff who have donated Teacher Treasures to adjust their offerings as best possible.
            </p>
        </li>
    </ol>

    <h3>VOLUNTEERING:</h3>

    <ol>
        <li>
            <b>I signed up to volunteer. Can I still help?</b>
            <p>
                While volunteer opportunities have been reduced,  we still need help. Our PTOffice.com sign-up sheet will be adjusted soon. Double check to see if you are still included and if you can still work.
            </p>
        </li>

        <li>
            <b>I was not able to volunteer for the original date/s, but I can now. Can I help?</b>
            <p>
                Yes, please visit PTOffice.com to volunteer.
            </p>
        </li>
    </ol>

    <h3>GENERAL INFORMATION:</h3>

    <ol>

        <li>
            <b>
                How does the GLOBE Auction work?
            </b>
            <p>
                The evening starts with a silent auction including donations from businesses in our community, followed by a live auction of collaborative art created by our kids.
            </p>
        </li>

        <li>
            <b>
                How does bidding work?
            </b>
            <p>
                Like last year, all silent auction bidding takes place through the website/mobile app simultaneously and in real time.
            </p>
        </li>

        <li>
            <b>
                Will the Raffle still happen?
            </b>
            <p>
                Yes, we will draw Raffle winners on Facebook Live during the final hour of the bidding. You do not have to be watching to win.
            </p>
        </li>

        <li>
            <b>
                What are Teacher Treasures?
            </b>
            <p>
                Many of our fantastic GLOBE teachers, faculty, and staff generously donate creative excursions or special event time to the Silent Auction. These are hot items that become lasting memories for the winners!
            </p>
        </li>

        <li>
            <b>
                What are GLOBE Perks?
            </b>
            <p>
                GLOBE Perks are Live and Silent Auction items that make your life as a busy parent much easier. They include: reserved front row seats to performances and priority parking options at both campuses.
            </p>
        </li>

        <li>
            <b>
                What is the Carpool Flag and why is it not in the list of items?
            </b>
            <p>
                A carpool flag allows the flag bearer to "cut" in line in morning and afternoon carpools. It’s simple to use. Wave it out the window, and you are next to move into the line! Wave bye-bye to carpool line time for all of next year!
                **The 2020/21 Carpool Flag will be auctioned off in August 2020.**
            </p>
        </li>

        <li>
            <b>
                What is a Wine Wall?
            </b>
            <p>
                New to this year’s Auction will be a Wine Wall! Easy to play – you donate $20 and pick a mystery bottle of wine to go home with you that evening. Each bottle is worth at least $20, although some are valued at much higher! Win-win!
            </p>
        </li>

        <li>
            <b>
                How can my family, friends, or colleagues who live outside DeKalb County, or Georgia, or the US participate in the auction?
            </b>
            <p>
                Anyone can register for the auction and get a paddle number. From Argentina to Zambia, we welcome everyone to join in the fun!
            </p>
        </li>

        <li>
            <b>
                How do I pay for what I purchase during the virtual auction? What if I don't live in the US?
            </b>
            <p>
                At the close of the Auction, bidders will be prompted to pay via PayPal. PayPal can be used for international transactions. Associated fees will be the responsibility of the bidder/purchaser.
            </p>
        </li>

        <li>
            <b>
                If I don't live in DeKalb County, in Georgia, or in the US, how can I collect what I bid on?
            </b>
            <p>
                Email <a href="mailto:auction@theGLOBEacademy.net">auction@theGLOBEacademy.net</a> to identify your pick-up proxy. Should a proxy not be available, please use the same email so a plan can be determined. Winnings must be picked up and cannot be mailed.
            </p>
        </li>
    </ol>
</div>