
@{
    ViewBag.Title = "FAQs";
}

<div class="container">
    <h2>FAQs</h2>

    <h3>QUICK LINKS</h3>
    <ul>
        <li>
            <b>
                <a href="https://www.youtube.com/channel/UCB-RX1WmEeocFuIJkFuUHiQ" target="_blank">Auction HOW TO Videos</a> (YouTube)
            </b>
        </li>
    </ul>

    <h3>REGISTRATION</h3>

    <ol>
        <li>
            <b>Is the 2021 Auction virtual?</b>
            <p>
                Yes! Due to the health uncertainties related to public gatherings, the Auction is going to be virtual via the website.
                It will begin <b>May 15th at 7:00 PM</b> and end on <b>May 16th at 7:00 PM</b> (24 hours). For questions about mobile bidding, please scroll down to #2 under General Information.
            </p>
        </li>

        <li>
            <b>Is there a fee to register?</b>
            <p>
                No! The 2021 registration fee is being waived.
            </p>
        </li>

        <li>
            <b>
                Do I still need register for the Auction?
            </b>
            <p>
                Yes, anyone who bids must <a href="https://www.theglobeauction.com/register" target="_blank">register on the website</a>.
            </p>
        </li>

        <li>
            <b>
                Are there restrictions on who can register for the Auction?
            </b>
            <p>
                No! Anyone can register and bid. From Argentina to Zambia, we welcome everyone to join in the fun!
            </p>
        </li>

        <li>
            <b>
                5.	Can more than one person register in a family or household?
            </b>
            <p>
                Yes! If, for example, you and your significant other want to bid simultaneously, you can both <a href="https://www.theglobeauction.com/register" target="_blank">register for an Auction number</a>.
            </p>
        </li>
    </ol>

    <h3>GENERAL INFORMATION</h3>

    <ol>

        <li>
            <b>
                What does the money raised at the GLOBE Auction support?
            </b>
            <p>
                The money raised at the GLOBE Auction funds: the International Festival, the Summer Picnic, Science Night, Black History Month, Screen on the Green, the Book Fair, Field Day, Chinese New Year Festivities, Spanish Heritage Festivities, Francophile Festivities, Teacher Appreciation Week, staff holiday and end-of-year gifts, Wonderful Wednesdays staff appreciation, mini-grants for classroom needs and staff continuing education, start of school classroom support, teacher’s lounge improvements, grounds upkeep support, room parent support, plus other needs as requested and able.
            </p>
        </li>

        <li>
            <b>
                How does bidding work?
            </b>
            <p>
                All bidding takes place through the website/mobile app simultaneously and in real time. Bidders who register with a cell phone will be notified via text when they are outbid.
            </p>
        </li>

        <li>
            <b>
                Will there be an Auction Live Stream work?
            </b>
            <p>
                The planning committee is working on day-of details, but all Auction communications will appear on the <a href="https://www.facebook.com/theglobeacademyptcc/" target="_blank">GLOBE PTCC Facebook page</a>. You do not have to be a member of Facebook to follow the stream.
            </p>
        </li>

        <li>
            <b>
                How does the Raffle work?
            </b>
            <p>
                Raffle items can be added to your cart during bidding and paid for at 7:00 PM on Sunday, May 16th along with other winnings. Raffle winners will be drawn LIVE on the <a href="https://www.facebook.com/theglobeacademyptcc/" target="_blank">GLOBE PTCC Facebook page</a> at 7:00 PM on the 16th. You do not have to be watching to win. Winners will receive a confirmation email.
            </p>
        </li>

        <li>
            <b>
                What are Teacher Treasures?
            </b>
            <p>
                Many of our fantastic GLOBE teachers, faculty, and staff generously donate creative excursions or special event time to the Auction. These are hot items that become lasting memories for the winners!
            </p>
        </li>

        <li>
            <b>
                What is Fund-A-Project?
            </b>
            <p>
                Each year, the GLOBE Auction includes a special Fund-A-Project as part of the event. Details on the 2021 are coming soon!
            </p>
        </li>

        <li>
            <b>
                What is Class Collaborative Art?
            </b>
            <p>
                Each year, GLOBE classes and parent volunteers brainstorm, design, and execute a collaborative art project that is sold at the Auction. Past projects have included hand painted furniture, oversized lawn games, student photography, and mixed media art pieces.
            </p>
        </li>

        <li>
            <b>
                What are GLOBE Perks?
            </b>
            <p>
                GLOBE Perks are items that make busy parenting much easier. They include reserved front row seats to performances and priority parking options at both campuses.
            </p>
        </li>

        <li>
            <b>
                What is the Carpool Flag and why is it not in the list of items?
            </b>
            <p>
                A carpool flag allows the flag bearer to "cut" in line in morning and afternoon carpools. It’s simple to use. Wave it out the window, and you are next to move into the line!
            </p>
        </li>

        <li>
            <b>
                What is a Wine Wall?
            </b>
            <p>
                Easy to play – you donate $20 and pick a mystery bottle of wine to go home with you. Each bottle is worth around $20, although some are valued at much higher! Win-win!
            </p>
        </li>

        <li>
            <b>
                I own a business. Is it too late to donate to the Auction?
            </b>
            <p>
                No! It’s not too late. Please contact the auction committee (<a href="mailto:auction@theGLOBEacademy.net">auction@theGLOBEacademy.net</a>).
            </p>
        </li>

    </ol>

    <h3>PAYMENT & PICKUP</h3>

    <ol>
        <li>
            <b>
                How do I pay for Auction winnings and donations?
            </b>
            <p>
                When the Auction ends, an itemized list of winnings and donations along with a payment link will be automatically emailed to the email address on file. International transactions are accepted; associated fees will be the responsibility of the bidder/purchaser.
            </p>
        </li>

        <li>
            <b>
                How do I receive my winnings?
            </b>
            <p>
                Winnings that include an electronic certificate will be emailed to the email address on file. Physical items must be picked up at our “touch free.” Details are forthcoming.
            </p>
        </li>
    </ol>

    <h3>REFUNDS & EXCHANGES</h3>

    <b>
        Auction purchases are final and not eligible for returns or exchanges for any reason, including cancellations or closures due to COVID-19.
    </b>
</div>