@model GlobeAuction.Models.FaqsViewModel

@{
    ViewBag.Title = "FAQs";
}

<div class="container">
    <h2>FAQs</h2>

    @foreach (var category in Model.CategoriesWithFAQs)
    {
        <h3>@category.Category.Name.ToUpper()</h3>
        <ol>
            @foreach (var faq in category.FAQs)
            {
                <li>
                    <b>
                        @Html.Raw(faq.Question)
                    </b>

                    @if (!string.IsNullOrEmpty(faq.Answer))
                    {
                        <p>
                            @Html.Raw(faq.Answer)
                        </p>
                    }
                </li>
            }
        </ol>
    }
</div>