
@{
    ViewBag.Title = "FAQs";
}

    <div class="container">
        <h2>FAQs</h2>

        <h3>QUICK LINKS</h3>
        <ul>
            <li>
                <b>
                    <a href="https://www.youtube.com/channel/UCB-RX1WmEeocFuIJkFuUHiQ" target="_blank">Auction HOW TO Videos</a> (YouTube)
                </b>
            </li>
        </ul>

        <h3>REGISTRATION</h3>

        <ol>
            <li>
                <b>Is the 2021 Auction virtual?</b>
                <p>
                    Yes! Due to the health uncertainties related to public gatherings, the Auction is going to be virtual via the website. 
                    It will begin <b>May 26th at 7:00 PM</b> and end on <b>May 27th at 7:00 PM</b> (24 hours). For questions about mobile bidding, please scroll down to #2 under General Information.
                </p>
            </li>

            <li>
                <b>Do I still need to purchase a ticket?</b>
                <p>
                    This year’s registration fees are being waived. If you purchased a ticket/s, please <a href="https://forms.gle/PmJGWdAyeYxnyZ2FA" target="_blank">go to this Google Form</a> by 11:59 PM on May 19th and select if you would like the value of your purchase: 1) fully refunded, 2) donated to the Auction, or 3) a split refund/donation. No response will assume purchase values are to be donated to the Auction. All requested refunds will processed after May 19th.
                </p>
            </li>

            <li>
                <b>
                    Do I still need register for the Auction?
                </b>
                <p>
                    Yes, anyone who bids must <a href="https://www.theglobeauction.com/register" target="_blank">register on the website</a>.
                </p>
            </li>

            <li>
                <b>
                    Are there restrictions on who can register for the Auction?
                </b>
                <p>
                    No! Anyone can register and bid. From Argentina to Zambia, we welcome everyone to join in the fun!
                </p>
            </li>
        </ol>

        <h3>GENERAL INFORMATION</h3>

        <ol>

            <li>
                <b>
                    What does the money raised at the GLOBE Auction support?
                </b>
                <p>
                    The money raised at the GLOBE Auction funds: the International Festival, the Summer Picnic, Science Night, Black History Month, Screen on the Green, the Book Fair, Field Day, Chinese New Year Festivities, Spanish Heritage Festivities, Francophile Festivities, Teacher Appreciation Week, staff holiday and end-of-year gifts, Wonderful Wednesdays staff appreciation, mini-grants for classroom needs and staff continuing education, start of school classroom support, teacher’s lounge improvements, grounds upkeep support, room parent support, plus other needs as requested and able.
                </p>
            </li>

            <li>
                <b>
                    How does bidding work?
                </b>
                <p>
                    All bidding takes place through the website/mobile app simultaneously and in real time. Bidders who register with a cell phone will be notified via text when they are outbid.
                </p>
            </li>

            <li>
                <b>
                    How does the Auction Live Stream work?
                </b>
                <p>
                    Go to our <a href="https://www.facebook.com/theglobeacademyptcc/" target="_blank">Auction Live Stream</a> and follow as we broadcast LIVE, spark conversation, post images and videos, and give real time updates of bidding shenanigans. You do not have to be a member of Facebook to follow the stream.
                </p>
            </li>

            <li>
                <b>
                    How does the Raffle work?
                </b>
                <p>
                    Raffle items can be added to your cart during bidding and paid for at 7:00 PM on Sunday, May 17th along with other winnings. Raffle winners will be drawn LIVE on our <a href="https://www.facebook.com/theglobeacademyptcc/" target="_blank">Auction Live Stream</a> at 8:00 PM on the 17th. You do not have to be watching to win. Winners will receive a confirmation email.
                </p>
            </li>

            <li>
                <b>
                    What are Teacher Treasures?
                </b>
                <p>
                    Many of our fantastic GLOBE teachers, faculty, and staff generously donate creative excursions or special event time to the Auction. These are hot items that become lasting memories for the winners!
                </p>
            </li>

            <li>
                <b>
                    What is Fund-A-Project?
                </b>
                <p>
                    Each year, the GLOBE Auction includes a special Fund-A-Project as part of the event.
                    This year, the goal is to raise $5,000 to purchase English, French, Mandarin, and Spanish classroom libraries for all grades! Donations can be made on the <a href="https://www.theglobeauction.com/store" target="_blank">Auction Store</a>.
                    Donations equate to the following: $25 donation = 3 books, $50 donation = 6 books, $100 donation = 12 books.
                    Individuals or families that donate will have their name/s inscribed on a dedication bookplate and adhered to the inside cover of each book – a lasting memory of the incredible support of our GLOBE community provides!
                </p>
            </li>

            <li>
                <b>
                    What is Class Collaborative Art?
                </b>
                <p>
                    Each year, GLOBE classes and parent volunteers brainstorm, design, and execute a collaborative art project that is sold at the Auction. Past projects have included hand painted furniture, oversized lawn games, student photography, and mixed media art pieces.
                </p>
            </li>

            <li>
                <b>
                    What are GLOBE Perks?
                </b>
                <p>
                    GLOBE Perks are items that make busy parenting much easier. They include reserved front row seats to performances and priority parking options at both campuses.
                </p>
            </li>

            <li>
                <b>
                    What is the Carpool Flag and why is it not in the list of items?
                </b>
                <p>
                    A carpool flag allows the flag bearer to "cut" in line in morning and afternoon carpools. It’s simple to use. Wave it out the window, and you are next to move into the line! The 2020/21 Carpool Flag will be auctioned off in August 2020 at the start of next year.
                </p>
            </li>

            <li>
                <b>
                    What is a Wine Wall?
                </b>
                <p>
                    New to this year’s Auction will be a Wine Wall! Easy to play – you donate $20 and pick a mystery bottle of wine to go home with you that evening. Each bottle is worth at least $20, although some are valued at much higher! Win-win!
                </p>
            </li>

            <li>
                <b>
                    I own a business. Is it too late to donate to the Auction?
                </b>
                <p>
                    No! It’s not too late. Please contact the auction committee (<a href="mailto:auction@theGLOBEacademy.net">auction@theGLOBEacademy.net</a>).
                </p>
            </li>

        </ol>

        <h3>TECH SUPPORT OPTIONS</h3>
        <ol>
            <li>
                Email <a href="mailto:auction@theglobeacademy.net">auction@theglobeacademy.net</a>.  We have a team that will be monitoring that account during Auction hours.
            </li>
            <li>
                Visit the HOW TO video links above.
            </li>
            <li>
                Join one of our Tech Support Zoom Meetings:
                <ul>
                    <li>7:00-8:00 PM on Saturday, May 16th: Meeting ID: <a href="https://channeladvisor.zoom.us/j/95361094903?pwd=Qk5iSWFGamt6MlAweEN6L1UzVHNXdz09" target="_blank">953 6109 4903 / Password: 587102</a></li>
                    <li>6:00-8:00 PM on Sunday, May 17th: Meeting ID: <a href="https://channeladvisor.zoom.us/j/98671346258?pwd=dXQrM3ByTHdUb3Q5Q21vNE8vbGNIUT09" target="_blank">986 7134 6258 / Password: 884295</a></li>
                </ul>
            </li>
        </ol>

        <h3>PAYMENT & PICKUP</h3>

        <ol>
            <li>
                <b>
                    How do I pay for Auction winnings and donations?
                </b>
                <p>
                    When the Auction ends, an itemized list of winnings and donations along with a payment link will be automatically emailed to the email address on file. International transactions are accepted; associated fees will be the responsibility of the bidder/purchaser.
                </p>
            </li>

            <li>
                <b>
                    How do I receive my winnings?
                </b>
                <p>
                    Winnings that include an electronic certificate will be emailed to the email address on file. Physical items must be picked up at our “touch free” Auction drive-through in the Upper Campus parking lot from 8:00 – 2:00 pm on Monday, May 18 and Tuesday, May 19. Please contact the auction committee (<a href="mailto:auction@theGLOBEacademy.net">auction@theGLOBEacademy.net</a>) if pickup in not an option on either of these days.
                </p>
            </li>
        </ol>

        <h3>REFUNDS & EXCHANGES</h3>

        <b>
            Auction purchases are final and not eligible for returns or exchanges for any reason, including cancellations or closures due to COVID-19.
        </b>
    </div>