@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="min-height:100%; overflow:hidden;">
        <div class="col-lg-3" style="padding-left:0px; padding-right:0px">
            <img src="~/Content/Images/attendees1.jpg" width="339" height="320" class="img-responsive" />
        </div>
        <div class="col-lg-6 greybox" style="padding-left:0px; padding-right:0px;height:100%; display: inline-block; top:0; bottom:0; margin-bottom:-9999px; padding-bottom:9999px;">
            <div class="container">
                <h2><b>An Evening Around the GLOBE</b></h2>
                <p>
                    You will not want to miss The GLOBE Academy’s 2018 Auction, An Evening Around the GLOBE.
                    Join us for a night of food, drinks, fantastic silent auction items and a spirited live auction!
                    Attire is dressy casual.
                </p>
                <p>
                    <table width="100%" cellpadding="5">
                        <tr>
                            <td>Get your ticket(s) now!</td>
                            <td align="right">@Html.ActionLink("BUY TICKETS NOW", "Register", "Bidders", null, htmlAttributes: new { @class = "btn btn-lg btn-gold" })</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <table width="100%" cellpadding="5">
                        <tr>
                            <td>
                                If you have already registered, or just need raffle tickets ONLY, you can get your amazing raffle tickets here:
                            </td>
                            <td align="right">@Html.ActionLink("BUY RAFFLE TICKETS", "Buy", "StoreItems", null, htmlAttributes: new { @class = "btn btn-lg btn-gold" })</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <table width="100%" cellpadding="5">
                        <tr>
                            <td>
                                Can't wait until auction night?  We have some great items you can buy now to support GLOBE:
                            </td>
                            <td align="right">@Html.ActionLink("BUY IT NOW", "Buy", "StoreItems", null, htmlAttributes: new { @class = "btn btn-lg btn-gold" })</td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
        <div class="col-lg-3" style="padding-left:0px; padding-right:0px">
            <img src="~/Content/Images/attendees2.jpg" width="339" height="320" class="img-responsive" />
        </div>
    </div>
</div>

<div style="background-color: #004f21; height:20px; padding: 0px 0px 0px 0px"></div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/who_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">Parents, Teachers, Grandparents and anyone who wants a fun night out for a great cause!</p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/when_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                <b>March 17, 2018</b><br />
                6:30 PM - 11:00 PM
            </p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/where_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                <b>Spring Hall</b><br />
                7130 Buford Hwy NE #100<br />
                Atlanta, GA 30340
            </p>
        </div>
    </div>
</div>