@{
    ViewBag.Title = "Home Page";
}

<div class="container visible-xs">
    <div class="row">
        <img src="~/Content/Images/logo.jpg" height="200" class="center-block" />
    </div>
</div>

<ul id="lightSlider" class="cs-hidden">
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_01.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_03.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_04.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_05.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_06.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_07.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_08.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_09.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_10.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_11.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_12.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_13.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/GLOBEAuction_14.jpg" height="300" /></li>
</ul>

<div style="background-color: #86754d; height:20px; padding: 0px 0px 0px 0px"></div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/who_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">Parents, Teachers, Grandparents and anyone who wants a fun night out for a great cause!</p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/when_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                <b>March 28, 2020</b><br />
                6:30 PM
            </p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/where_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                <b>Spring Hall</b><br />
                7130 Buford Hwy NE #100<br />
                Atlanta, GA 30340
            </p>
        </div>
    </div>
</div>

<!--
<div class="container">
    <img src="~/Content/Images/sponsors/sponsors_banner.gif" />
</div>
-->

<script type="text/javascript">
  $(document).ready(function() {
      $("#lightSlider").lightSlider({
          auto: true,
          autoWidth:true,
          loop: true,
          speed: 600,
          onSliderLoad: function () {
              $('#lightSlider').removeClass('cS-hidden');
          } 
      });
  });
</script>