@{
    ViewBag.Title = "Home Page";
}

<div class="container visible-xs">
    <div class="row">
        <img src="~/Content/Images/auction-logo.png" height="200" class="center-block" />
    </div>
</div>

<ul id="lightSlider" class="cs-hidden">
    @{
        foreach (var fileName in ViewContentHelper.GetCarouselFileNames())
        {
            <li><img src="~/Content/Images/Carousel/@fileName" height="300" /></li>
        }
    }
</ul>

<div style="background-color: #86754d; height:20px; padding: 0px 0px 0px 0px"></div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/who_box.png" class=".auction-logistic-img" height="230" />
            <p class="auction-logistic-text">
                @Html.Raw(ConfigHelper.GetConfigValue(ConfigNames.HomePage_WhoHtml))
            </p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/when_box.png" class=".auction-logistic-img" height="230" />
            <p class="auction-logistic-text">
                @Html.Raw(ConfigHelper.GetConfigValue(ConfigNames.HomePage_WhenHtml))
            </p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/where_box.png" class=".auction-logistic-img" height="230" />
            <p class="auction-logistic-text">
                @Html.Raw(ConfigHelper.GetConfigValue(ConfigNames.HomePage_WhereHtml))
            </p>
        </div>
    </div>

    <div class="row top20">
        @Html.Raw(ConfigHelper.GetConfigValue(ConfigNames.HomePage_FooterHtml))
    </div>
</div>

<!--
<div class="container">
    <img src="~/Content/Images/sponsors/sponsors_banner.gif" />
</div>
-->

<script type="text/javascript">
  $(window).load(function() {
      $("#lightSlider").lightSlider({
          auto: true,
          autoWidth:true,
          loop: true,
          speed: 600,
          onSliderLoad: function () {
              $('#lightSlider').removeClass('cs-hidden');
          } 
      });
  });
</script>