@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>An Evening Around the GLOBE</h1>
    <p class="lead">
        You will not want to miss The GLOBE Academy’s 2017 Auction, An Evening Around the GLOBE.
        Join us for a night of food, drinks, fantastic silent auction items and a spirited live auction!
        Get your ticket(s) now using the PayPal Buy Now button below.
    </p>
    <p>
        @Html.ActionLink("Buy Tickets", "Register", "Bidders", null, htmlAttributes: new { @class="btn btn-lg btn-success" })
    </p>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <h2>Who</h2>
            <p>Parents, Teachers, Grandparents and anyone who wants a fun night out for a great cause!</p>
        </div>
        <div class="col-lg-4">
            <h2>When</h2>
            <p>March 25, 2017</p>
        </div>
        <div class="col-lg-4">
            <h2>Where</h2>
            <p>
                Spring Hall<br />
                7130 Buford Hwy NE #100<br />
                Atlanta, GA 30340
            </p>
        </div>
    </div>
</div>