@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>An Evening Around the GLOBE</h1>
    <p class="lead">
        You will not want to miss The GLOBE Academy’s 2017 Auction, An Evening Around the GLOBE.
        Join us for a night of food, drinks, fantastic silent auction items and a spirited live auction!
        Get your ticket(s) now using the PayPal Buy Now button below.
    </p>

    <div class="col-lg-12">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="5QRWMW4BAC8QJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <h2>Who</h2>
            <p>Parents, Teachers, Grandparents and anyone who wants a fun night out for a great cause!</p>
        </div>
        <div class="col-lg-4">
            <h2>When</h2>
            <p>March 25, 2017</p>
        </div>
        <div class="col-lg-4">
            <h2>Where</h2>
            <p>
                Spring Hall<br />
                7130 Buford Hwy NE #100<br />
                Atlanta, GA 30340
            </p>
        </div>
    </div>
</div>