@{
    ViewBag.Title = "Home Page";
}

<div class="container visible-xs">
    <div class="row">
        <img src="~/Content/Images/logo.jpg" height="200" class="center-block" />
    </div>
</div>

<ul id="lightSlider" class="cs-hidden">
    <li><img src="~/Content/Images/Carousel/IMG_1291 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1300 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1302 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1311 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1332 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1337 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1340 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1354 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1376 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1380 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1406 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1412 LR.jpg" height="300" /></li>
    <li><img src="~/Content/Images/Carousel/IMG_1418 LR.jpg" height="300" /></li>
</ul>

<div style="background-color: #86754d; height:20px; padding: 0px 0px 0px 0px"></div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/who_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">Parents, Teachers, Grandparents and anyone who wants to support a great school!</p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/when_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                Saturday, May 15 at 7:00 pm – Sunday, May 16 at 7:00 pm
            </p>
        </div>
        <div class="col-lg-4 auction-logistic-col">
            <img src="~/Content/Images/where_box.jpg" class=".auction-logistic-img" />
            <p class="auction-logistic-text">
                From the comfort of your own home!
            </p>
        </div>
    </div>

    <div class="row top20">
        <b>
            Auction purchases are final and not eligible for returns or exchanges for any reason, including cancellations or closures due to COVID-19.
        </b>
    </div>
</div>

<!--
<div class="container">
    <img src="~/Content/Images/sponsors/sponsors_banner.gif" />
</div>
-->

<script type="text/javascript">
  $(document).ready(function() {
      $("#lightSlider").lightSlider({
          auto: true,
          autoWidth:true,
          loop: true,
          speed: 600,
          onSliderLoad: function () {
              $('#lightSlider').removeClass('cS-hidden');
          } 
      });
  });
</script>