@model IEnumerable<GlobeAuction.Models.ShoutOut>

@{
    ViewBag.Title = "Shout Outs";
}

    <div class="container">
        <p></p>
        @foreach (var shoutOut in Model)
        {
                <div class="row">
                    <div class="col-md-6">
                        <img src="@Url.Content(shoutOut.ImageUrl)" width="300" class="img-responsive" />
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            @shoutOut.Title
                            </p>
                        <p>
                            @shoutOut.BodyText
                        </p>
                    </div>
                </div>
            <hr />
        }
    </div>
