
@{
    ViewBag.Title = "Sponsors";
}

<h2>Sponsors</h2>


<div class="container">
    <h2 class="text-center">Silver</h2>
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Images/sponsors/01_Silver/Hogan.jpg" class="img-responsive" />
        </div>
    </div>

    <h3>Bronze</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/sponsors/02_Bronze/Morgan.jpg" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/sponsors/02_Bronze/Frame in Focus.jpg" class="img-responsive" />
        </div>
    </div>

    <h3>Bar Sponsor</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/sponsors/03_Bar/Samuel Adams.png" class="img-responsive" />
        </div>
    </div>

    <h3>Food &amp; Beverage</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Golden Buddha.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Bambinellis.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/My Parents Basement.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Gourmet Goods International.png" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Kokai.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/EATaliano Logo.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Oak Grove Market.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Pig-n-Chik.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Pizzaiolo.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Einstein_s.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Newks.png" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Dilworths.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Cafe Alsace.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Taqueria el Vecino.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Dekalb Bottle House.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Grub.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/Menchies.png" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/sponsors/04_FoodandBev/The Grove.png" class="img-responsive" />
        </div>
    </div>
</div>