@model GlobeAuction.Models.SponsorsViewModel

@{
    ViewBag.Title = "Sponsors";
}

<div class="container">
    @foreach (var level in Model.SponsorsByLevel)
    {
        <h1>@level.Key</h1>
        <hr />
        for (int i = 0; i < level.Value.Count; i = i + 2)
        {
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content(level.Value[i].ImageUrl)" width="300" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    @if (level.Value.Count > (i + 1))
                    {
                        <img src="@Url.Content(level.Value[i+1].ImageUrl)" width="300" class="img-responsive" />
                    }
                </div>
            </div>
        }
    }
</div>
