
@{
    ViewBag.Title = "Sponsors";
}

    <div class="container">
        <h2>Silver</h2>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="~/Content/Images/sponsors/01_Silver/Duo.jpg" class="img-responsive" />
            </div>
        </div>

        <h2>Bronze</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <h2>Bar Sponsor</h2>
        <hr />

        <h2>Food &amp; Beverage</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/curry up now.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Grub jpeg.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/oak-grove-market.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/food terminal.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Dilworth_s BBQ.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/nothing bundt cake.png" class="img-responsive" />
            </div>
        </div>
    </div>