
@{
    ViewBag.Title = "Sponsors";
}

    <div class="container">
        <h1>Gold</h1>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="~/Content/Images/sponsors/00_Gold/CenterState.png" class="img-responsive" />
            </div>
        </div>
        
        <h1>Silver</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/sponsors/01_Silver/Duo.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/sponsors/01_Silver/RiosDelgado.jpeg" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/sponsors/01_Silver/spring hall.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6">
            </div>
        </div>

        @*
        <h1>Bronze</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <h1>Bar Sponsor</h1>
        <hr />
        *@

        <h1>Food &amp; Beverage</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/curry up now.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Grub jpeg.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/oak-grove-market.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/food terminal.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Dilworth_s BBQ.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/nothing bundt cake.png" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/einstein_s.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Gourmet Foods International.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Taqueria_LogoHiRes.jpeg" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/FIG1 LOGO.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Hopstix.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/modpizza.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/sponsors/04_FoodandBev/Ponko Logo.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>