
@{
    ViewBag.Title = "Sponsors";
}

<div class="container">
    
    <h3>Many thanks to our sponsors!</h3>
    <br />

    <table border="0" width="100%">
        <tr>
            <td><img src="~/Content/Images/sponsors/LaRocco_Companies_logo.jpg" width="200" /></td>
            <td><img src="~/Content/Images/sponsors/morgan.jpg" width="200" /></td>
        </tr>
    </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
