@model IEnumerable<GlobeAuction.Models.LogFile>

@{
    ViewBag.Title = "Logs";
}

@foreach (var logFile in Model.OrderByDescending(l => l.FilePath))
{
    <h2>@logFile.FilePath</h2>
    <pre>@logFile.Content
    </pre>
    <br />
}
