@model GlobeAuction.Models.Invoice

@{
    ViewBag.Title = "PayPal Payment Complete";
}

<h2>PayPal Complete</h2>

<div class="alert-success alert">
    Thank you for your purchase.  You should also get a confirmation email.
</div>
